.Faq {
  position: relative;
    z-index: 1;
    color: #333;
    padding: 2.4rem 0;
    background: #fff;
    @include for-size(tablet-portrait-up){
    padding: 7rem 0;
  }
  &-title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: $mainColor;
    padding: 0 2.4rem 2.4rem;
      @include for-size(tablet-portrait-up){
      font-size: 2rem;
      padding: 0 5rem 5rem;
    }
  }
  &-items {
    color: #333;
    font-size: 1.4rem;
    line-height: 1.8;
      @include for-size(tablet-portrait-up){
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        font-size: 1.6rem;
    }
    &-column {
        @include for-size(tablet-portrait-up){
        position: relative;
        width: 49%;
      }
    }
    &-object {
      position: relative;
      cursor: pointer;
      padding: 1rem 2rem 0;
      border-radius: .4rem;
      border: 1px solid #eaeaea;
      margin: 1rem 0;
    }
  }
  &-text {
    font-size: 1.4rem;
    margin: 1.2rem 0;
    text-align: center;
    line-height: 1.8;
  }
  &-text-link{
    text-decoration: none;
    color: $mainColor;
    transition: color .3 ease;
  }
}


.FaqItems{
  &-checkbox{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 5rem;
    top: 0;
    cursor: pointer;
    left: 0;
  }
  &-question {
    margin: 0;
    font-weight: 600;
    cursor: pointer;
    transition: color .3 ease-in;
  }
  &-answer {
    margin: 0;
    height: 0;
    font-size: 1.4rem;
    line-height: 1.6;
    overflow: hidden;
    transition: all .3s ease-out;
    padding-top: 2rem;
  }
  &-object {
    position: relative;
    cursor: pointer;
    padding: 1rem 2rem 0;
    border-radius: .4rem;
    border: 1px solid #eaeaea;
    margin: 1rem 0;
  }
}


.FaqItems-checkbox {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 5rem;
  top: 0;
  cursor: pointer;
  left: 0;
  &-answer {
  margin: 0;
  height: 0;
  font-size: 1.4rem;
  line-height: 1.6;
  overflow: hidden;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  padding-top: 2rem; }

}

[id^="tab"]:checked ~ [id^="tab-label"] {
  color: #4D7FD5; }

[id^="tab"]:checked ~ [id^="tab-label"] > .FaqItems-arrow {
  color: #4D7FD5;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

[id^="tab"]:checked ~ [id^="tab-content"] {
  height: auto;
  overflow: auto; }
