.How-it-works {
  padding: 40px 0;
  width: 70%;
  margin: 0 auto;
  align-items: center;
  &-test{
    margin-bottom: 40px;
    @include for-size(desktop-up) {
      margin: auto;
    }
  }
  &-title{
    color: $mainColor;
    margin-bottom: 40px;
    font-size: 16px;
  }
  &-paragraphe {
    font-size: 14px;
  }
  &-items {
    width: 100%;
    margin: 0 auto;
    @include for-size(desktop-up) {
      width: 50%;
    }
    &-flex{
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      &-img {
        margin-right: 2rem;
      }
    }
    &-blue {
      color: $mainColor;
    }
  }
}
